section {
  width: 18%;
  margin: 10px;
  background-color: #FFF;
  border: 3px groove darkgrey;
  padding: 10px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    text-indent: 5px;
  }

  li {
    border-bottom: 2px solid #555;

    img {
      width: 50%;
    }
  }

  span {
    font-weight: bold;
  }
}
